@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;300&family=Roboto:wght@100;300&display=swap');
*{
   
    font-family: 'Poppins', sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 55px;
  }
  th,
td {
  border: 1px solid #ffffff;
  text-align: left;
padding: 8px;
  font-size: 32px;
}

th {
    background-color: rgb(0, 155, 245);
    font-size: 20px;

  }
  
  td {
    background-color: rgb(1, 1, 1);
    font-size: 15px;
    color: white;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }